.browse-body {
  background: var(--background);
  padding-bottom: 2rem;
}

.browse-container {
  border: solid var(--border) 1px;
  border-radius: 15px;
  background-color: var(--surface);
  padding: 10px;
  margin: 15px;
}

.trending-container {
  padding: 5px;
}

.popular-container {
  padding: 5px;
}

.more-container {
  padding: 5px;
}