.landing-body {
    height: 20cm;
}

.top-manga-display {
    padding: 10px;
    height: 10cm;
}

.search-bar {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.manga-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    margin-top: 15px;
}
