.profile-body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

/* Left side of the page */
.profile-container {
  padding: 16px;
}

.user-container {
  display: flex;
  padding: 16px;
}

.user-detail {
  width: 55%;
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 12px;
}

.user-detail h1 {
  font-size: 20px;
  font-weight: 600;
}

.user-pfp {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.account-management {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.manga-container {
  padding: 16px;

  border: 1.5px solid var(--border);
  border-radius: 6px;
}

.display-container {
  border: 1.5px solid var(--border);
  border-radius: 6px;
}

/* Right side of the page */
.settings-container {
  width: 50%;
  padding: 16px;
}

.blacklist-tags {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  padding: 16px;
  justify-content: center;

  border: 1.5px solid var(--border);
  border-radius: 6px;
}