.container {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: minmax(min-content, auto) minmax(min-content, auto) minmax(min-content, auto);
  gap: 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "user-container user-container tags-container"
    "bookmarked-container bookmarked-container tags-container"
    "bookmarked-container bookmarked-container user-settings"
    "bookmarked-container bookmarked-container .";
}

.user-container {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "user-pfp user-detail user-detail"
    "user-pfp user-stats user-stats";
  grid-area: user-container;
  align-items: center;
}

.user-pfp { 
  grid-area: user-pfp; 
  object-fit: cover;
  height: 200px;
  width: 200px;
  border: 2px solid pink;

  /* Octagon shape */
  clip-path: polygon(
    30% 0%, 70% 0%, 
    100% 30%, 100% 70%, 
    70% 100%, 30% 100%, 
    0% 70%, 0% 30%
  );
}
.user-detail { grid-area: user-detail; }

.user-stats { grid-area: user-stats; }

.tags-container { grid-area: tags-container; }

.user-settings { grid-area: user-settings; }

.bookmarked-container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "continue-reading continue-reading continue-reading"
    "unread unread unread"
    "dropped dropped dropped";
  grid-area: bookmarked-container;
}

.continue-reading { grid-area: continue-reading; }

.unread { grid-area: unread; }

.dropped { grid-area: dropped; }

.user-container,
.tags-container,
.bookmarked-container,
.user-settings,
.continue-reading,
.unread,
.dropped {
  border: 1px solid var(--border);
  border-radius: 16px;
  background: var(--surface);
  padding: 10px;
}