.register-body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.register-form {
    border: 1px solid #e6e6e6;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.register-title {
    text-align: center;
    font-weight: 700;
    margin: 0;
}