.landing-header {
    border-bottom: 2px solid black;
    background-color: #d27f2c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.title-container {
    display: inherit;
}

.title-container a {
    text-decoration: none;
}

.routes-container {
    display: inherit;
    align-content: center;
    gap: 10px;
}