.landing-header {
    border: 1px solid red;
}

.landing-title {
    text-decoration: dashed;
}

.landing-body {
    border: 1px solid blue;
    height: 20cm;
}

.top-manga-display {
    border: 1px solid violet;
    height: 10cm;
}