body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #37353E;
  color: #D3DAD9;
}

h1, h2, h3, h4, h5 {
  color: #D3DAD9;
}

a {
  color: #D3DAD9;
  text-decoration: none;
}

a:hover {
  color: #715A5A;
}
